button{
    width:80px;
}

button:hover{
    background-color: aliceblue !important;
    color:black !important;
    transform: scale(1.1);
}

#display{
    width:98%;
    height:38px;
}

.operator{
    width:4%;
}