@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');    

body{
    font-family: 'Rajdhani', sans-serif;
    min-width: 700px;
}

/* Div and flexboxes */
.wrapper_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.wrapper_parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
    background-color: #EEE5E9;
    padding:10px;
    border:1px solid rgb(139, 139, 139);
    border-radius:7px;
}

.wrapper_child{
    display: flex;
    flex-direction: column;
}

.wrapper_section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper_historyPanel{
    margin-top: 3%;
    margin-bottom: 3%;
    min-width: 20%;
    max-width: 20%;
    border:1px solid rgb(139, 139, 139);
    padding: 10px;
    border-radius: 7px;
    background-color: #EEE5E9;
}

.wrapper_header{
    border-bottom: 1px solid black;
    text-align: center;
}

.wrapper_history{
    text-align: start;
    overflow-y:auto;
    max-height: 240px;
    word-wrap: break-word;
}

/* Button styles */
.operator,.numberKey,#buttonC{
    border:1px solid rgb(112, 111, 111);
    border-radius: 7px;
    height: 38px;
    background-color: #776871;
    color: aliceblue;
}

.numberKey{
    margin-top:1rem;
    margin-right: 0.25rem;
    background-color: #91a8a4;
    color:black;
    width: 80px;
}

.numberKey:hover{
    background-color: #a5c2bd !important;
    transform: scale(1.05);
}

.operator{
    margin-top: 1rem;
    width: 50px;
}

.operator:hover,#buttonC:hover{
    background-color: #6b5059 !important;
    transform: scale(1.05);
}

#buttonC{
    width:50px;
}


/* styles for the Display */
#display{
    width:98%;
    height:38px;
    text-align: end;
    background-color: azure;
    color:rgb(109, 109, 109);
}